<div class="article_image_select">

  <div class="article_image_preview">
    <%= image_tag article.medium_image %>
  </div>

  <div class="buttons">
    <div class="green_button">
      <%= link_to "Select Article Image", "/images?layout=false", :class => "select_image" %>
      <script type="text/javascript">
        $(document).ready(function() {
        $('a.select_image').colorbox({iframe:true, width: "80%", height: "80%"});
        })
      </script>
    </div>
  </div>
</div>

