<div class="article_stub">
  <span class="stub_title"><%= @article.title %></span>
  <span class="stub_author"><%= @article.author %></span>
  <span class="stup_summary"><%= @article.tagline %></span>
</div>
