<h2>Publish "<%= @article.title %>"</h2>

<%= form_for @article do |f| %>

  <%= render :partial => 'property_fields',
             :locals => {:f => f,
                         :article => @article} %>

  <div class="action">
    <%= f.submit "Publish", :name => 'publish_button', :confirm => 'Are you sure you want to publish this article?' %>
  </div>

<% end %>
