<div class="user_articles">
  
  <div class="draft_articles display_area">

    <h3>Draft Articles</h3>
    <ul>
      <% @user.pending_articles.each do |a| %>
        <li>
          <%= link_to a.title, edit_article_path(a) %>
        </li>
      <% end %>
    </ul>

  </div>

  <div class="review_articles display_area">
    <h3>Articles Under Review</h3>
  </div>


  <div class="published_articles display_area">
    <h3>Published Articles</h3>

    <div class="user_articles_list">
      <% @user.published_articles.each do |a| %>
        <div class="article">
          <%= link_to a.title, article_path(a) %>
        </div>
      <% end %>
    </div>
  </div>

</div>

<div class="buttons">
  <div class="new_article_link">
    <%= link_to "Create Article", new_article_path %>
  </div>
</div>
