<div class="dashboard">
  <div class="my_articles article_column">
    <h3>My Articles</h3>
    <div class="article_stub">
      <div class="stub_title">
        My Very First Article
      </div>
      <div class="stub_author">
        Fred Foonly
      </div>
    </div>
    <div class="column_footer_link">
      Create a New Article
    </div>
  </div>
  <div class="section_articles article_column">
    <h3>Section Articles</h3>
    <div class="section_stub">
      <div class="section_name">
        News
      </div>
      <div class="article_list">
        <div class="article_stub">
          <div class="stub_title">
            First Article
          </div>
          <div class="stub_author">
            Fred Foonly
          </div>
        </div>
      </div>
    </div>
    <div class="privilege_request column_footer_link">
      Request Editor Privileges for Additional Sections
    </div>
  </div>
  <div class="public_articles article_column">
    <h3>Public Articles</h3>
    <div class="article_stub pending">
      <div class="stub_title">
        Even Before My First Article
      </div>
      <div class="stub_author">
        Fred Foonly
      </div>
    </div>
    <hr/>
    <div class="article_stub">
      <div class="stub_title">
        Still More Before My First Article
      </div>
      <div class="stub_author">
        Fred Foonly
      </div>
    </div>
  </div>
</div>
