<table>
<tr>
  <th>Name</th>
  <th>Email</th>
  <th>Active</th>
</tr>

<% @users.each do |u| %>

<tr>
  <td><%= link_to u.name, user_path(u) %></td>
  <td><%= u.email %></td>
  <td><%= u.active ? "Active" : "Inactive" %></td>
</tr>

<% end %> 
</table>
