<% if @user %>

<h2>
  <%= @user.name %>
</h2>

<div class="user_email">
  <%= @user.email %>
</div>

<% if @user == current_user %>

<div>
  <%= (@user.member ? "Congratulations, you're a full member of The Yorker" : "You're not a full member of The Yorker. If you'd like to write for The Yorker, please contact <a href='mailto://editor@theyorker.co.uk'>the editor</a>.").html_safe %>
</div>

<div class="new_article_link">
  <%= link_to "Create Article", new_article_path %>
</div>

<% end %>

<%# trivial case for non-existence of user %>
<% else %>
<h2>No such user</h2>
<% end %>
