<a href="<%= canonical_article_path(article) %>">
  <div class="article_stub">
    <div class="stub_title"><%= article.title %></div>
    <div class="stub_date"><%= article.date_string %></div>
    <div class="stub_author"><%= article.byline %></div>
  </div>
</a>
