<% if article %>
  <div class="stub_title"><%= link_to article.title, article %></div>
  <div class="topimage"><%= image_tag article.image.picture.url(:large_thumb) %></div>
  <div class="stub_author"><%= article.byline %></div>
  <div class="stub_summary"><%= article.tagline %></div>
<% end %>
