<a href="<%= article_path(article) %>">
  <div class="article_stub_small">
    <div class="stub_image">
      <%= image_tag article.small_thumbnail %>
    </div>
    <div class="stub_title">
      <%= article.title %>
    </div>
  </div>
</a>
