<div class="featured_list featured_3_articles">
  <h3>Top Stories</h3>
  <div class="article_list">
    <% section.latest_articles_from_children_by_rank(3).each do |a| %>
      <%= render :partial => 'shared/article_small',
          :locals => {:article => a} %>
    <% end %>
  </div>
</div>
