<div class="section_stub">
  <div class="section_name">
    <%= link_to section.name, section_path(section) %>
  </div>
  <div class="article_list">
    <% section.articles.each do |a| %>
      <%= render :partial => 'shared/article', :locals => {:article => a} %>
    <% end %>
  </div>
</div>

