<%= render :partial => 'sections/top_stories',
           :locals => {:section => section} %>


<div class="adspace1">
  <%= image_tag "adspace250x250.png", :width => "250px" %>
</div>

<%= render :partial => 'articles/featured' %>

<div class="featured_list featured_5_articles">
  <h3>Recently Commented</h3>
  <%= render :partial => 'comments/recent' %>
</div>
