<h2><%= @section.name %></h2>

<h3>Editors</h3>
<ul>
<% @section.users.each do |e| %>
  <li><%= link_to e.name, user_path(e) %></li>
<% end %>
</ul>

<hr/>

<h3>Articles for Editorial Review</h3>

<ul>
  <% @section.articles_for_review.each do |a| %>
  <li><%= link_to a.title, review_article_path(a) %></li>
  <% end %>
</ul>

<hr/>

<h3>Articles Scheduled for Publication</h3>

<ul>
</ul>

<hr/>

<h3>Published Articles</h3>

<ul>
</ul>
