/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * These Apply To Everything                                   *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

$yorker_orange: #ff6c07;
$darkened_orange: #e44f04;
$yorker_blue: #059BFF;
$background_shading: lighten($yorker_blue, 40%);

body {
    background-color: lighten($background-shading, 5%);
    /* background-color: #f9f9f9; */
    padding-top: 0;
}

.page_container {
    margin-left: auto;
    margin-right: auto;
    width: 55em;
    background-color: white;
    margin-top: -9px;
    padding-left: 24px;
    padding-right: 24px;
    opacity: 1;
}

h1 {
    font-size: 500%;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Open Sans', sans-serif;
	color: $yorker-orange;
	font-size: 170%;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: White;
    font-weight: normal;
    font-size: 14px;
    width: 100%;
    height: auto;
    background: $yorker-orange;
    border-radius: 0px;
    position:relative;
    padding:5px 0px 5px 0px; 
    top:-16px;
}

p  {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.hl {
	background: $yorker-orange;
	color: white;
	font-size: 150%;
	max-width: 69%;
}

blockquote { 
	font-family: 'Open Sans', sans-serif;
	font-size: 90%;
	float:right;
	border:0px solid grey;
	background-color:#eee;
	padding:6px;
	margin-right:-60px;
	max-width:15em
	}

blockquote blockquote{
	color:$yorker-orange;
	font-size:10pt;
	border:none;
	padding:0;
	margin:0;
}
	
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Banner at the top of the page under log-in                  *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.banner_top {
    width: 100%;
    position:relative;
    top:-55px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Top Menu Bar                                                *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.toplevel_menu {
    width: 100%;
    height: 31px;
    background: $yorker-orange;
    position:relative;
    top:-50px;
}

.toplevel_menu .socialmedia {
    float: right;
}

.toplevel_menu .socialmedia ul {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    float: right;
    position:relative;
    top:4px;
    left:-10px;
}

.toplevel_menu .socialmedia ul li {
    display: inline;
    border-right: none;
}

img.f_logo {
    vertical-align: text-top;
    height: 24px;
}

img.twitter_follow {
    vertical-align: text-top;
    height: 24px;
    padding-right: 3px;
    margin-bottom: 10px;
}

.toplevel_menu .socialmedia ul li a, .toplevel_menu ul li a:visited {
    text-decoration: none;
    color: white_;
    /* padding:0.2em 0.3em 0.2em 0.3em; */
}

.toplevel_menu ul {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0em 0.25em 0.25em 0em;
    float: left;
    position:relative;
    top:4px;
    left:25px;
}

.toplevel_menu ul li {
    display: inline;
}

.toplevel_menu ul li a, .toplevel_menu ul li a:visited {
    text-decoration: none;
    color: white;
    padding:0.2em 0.3em 0.2em 0.3em; 
}

.toplevel_menu ul li a:hover {
    text-decoration: none;
    background-color: #e44f04;
    color: white;
    padding-right: 0.3em;
    padding-left: 0.3em;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * This is the big news image and the top stories on the right *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.priority_content {
    width: 100%;
    overflow: hidden;
    position:relative;
    top:-43px;
}

.priority_content .adspace2 {
    overflow: hidden;
    width: 728px;
    margin: 0px auto 8px auto;
    float: none;
    height: 90px;
    text-align: center;
    border: 0px solid black;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Log-in links at the top of the page                         *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.account_links {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

.account_links ul {
    margin: 0;
    padding: 0;
    float: right;
}

.account_links ul li {
    display: inline;
}

.account_links ul li a, .account_links ul li a:visited {
    color: black;
    display: inline;
}

.user {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.user_control_links {
    float: right;
}

.user_control_links a {
    float: right;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Main content containers and related/featured article sidebar*
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.content_container {
    width: 100%;
    margin-top: 0px;
    position:relative;
    top:-50px;
    background-color: white;
}

.content_container .headline_container {
    overflow: auto;
}

.headline_container .headline_image {
    color: white;
    height: 300px;
    float: left;
	margin-left: 5px;
	overflow: hidden;
    width: 600px;
}

.headline_container .headline_image ul li h2 a {
    text-decoration: none;
	color: white;
	}

.headline_container .headline_image ul li img {
	width:90%;
	position: relative;
	top: -10%;
	margin-left: 5%;
	margin-right: 5%;
}

.headline_container .headline_image ul li h2 {
	opacity:0.90;
    filter:alpha(opacity=90); /* For IE8 and earlier */
	position: absolute;
	top: 200px;
    background-color: $yorker-orange;
}

.content_container .main_content {
    float: left;
    width: 69%;
}

.content_container .sidebar {
    background: none;
    width: 29%;
    margin-top: 0px;
    float: right;
    height: auto;
    text-align: center;
    border: 0px solid black;
    border-radius: 0px;


    .adspace1 img {
        overflow: hidden;
        width: 100%;
        left: 5px;
        float: right;
        height: 250px;
        border: 0px solid black;
	    margin-top: 30px;
    }

    .top_stories {
        width: 100%;
        float: right;
        height: 198px;
        text-align: center;
        border: 0px solid black;
        border-radius: 0px;
        background-color: white;

        img {
            vertical-align:text-top;
            float: left;
        }

        ol {
            font-family: 'Open Sans', sans-serif;
            font-size: 82.5%;
            position:relative;
            top:-25px;
            margin-top:auto;
	        margin-bottom:auto;
            padding:0;
            overflow:hidden;
        }

        ol a:link, a:visited {
            display: block;
            list-style-type: decimal;
            width:100%;
            height: 49px;
            border-bottom: 1px solid $yorker-orange;
            color:black;
            background-color:white;
            text-align:left;
            padding:2px;
	        padding-top:10px;
            vertical-align:middle;
            text-decoration: none;
        }

        a:hover, a:active {
            color: $yorker-orange;
        }

    }


    .featured_list {
        overflow: hidden;
        width: 100%;
        margin-top: 10px;
        float: right;

        .article_list {

            font-family: 'Open Sans', sans-serif;
            font-size: 82.5%;
            position:relative;
            top:-25px;
            margin-top:auto;
	        margin-bottom:auto;

            
            a, a:visited {
                text-decoration: none;
                color: black;
            }

            .article_stub_small {
                overflow: auto;
                border-bottom: 1px solid $yorker-orange;
                padding: 2px;
                padding-top: 10px;
                .stub_image {
                    width: 50px;
                    height: 50px;
                    float: left;
                }
                .stub_title {
                    float: left;
                    margin-left: 6px;
                }
            }

            .article_stub_small:hover {
                background-color: $background_shading;
            }

        }

    }

    .featured_3_articles {
        height: 222px;
    }

    .featured_5_articles {
        height: 350px;
    }

}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Log-in and signup page stuff                                *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.login_signup_container {
    padding-top: 5px;
}

.login_form {
    width: 46%;
    float: left;
}

.signup_form {
    width: 48%;
    float: right;
    border-left: solid 1px #aaa;
    padding-left: 2%;
}

#notice {
    font-size: 75%;
    color: green;
}

#alert {
    font-size: 75%;
    color: red;
}

.error-messages {
    border: solid 1px red;
    color: red;
    background-color: #eee;
    font-size: 75%;
}

.error-messages h3 {
    margin-top: 0;
    background-color: red;
    color: #fff;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Section and Article page style stuff                        *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

input#article_title {
    width: 30em;
    font-size: 120%;
}

select#article_section_id {
    margin-bottom: 2em;
}

textarea#article_body {
    width: 40em;
    height: 50em;
    margin-bottom: 2em;
}

input#section_name {
    width: 20em;
    margin-bottom: 1em;
    font-size: 120%;
}

.article {
    /* overflow: auto; */
}

.article a{
	color: $yorker-orange;
}

.article .header {
    width: 60%;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 5px;
	height:120px;
}

.article .header .authorpic {
	font-family: 'Open Sans', sans-serif;
	font-size: 90%;
	float:left;
	border:0px solid grey;
	background-color:none;
	padding:0px;
	margin-left:0px;
    margin-right:20px;
	width:120px
}

.article .header .authorpic img {
	max-width:120px;
}

.article .header .authorpic .author {
	font-family: 'Open Sans', sans-serif;
	font-size: 90%;
	margin: auto;
}

.article .header  .date {
	color: gray;
	float:left;
    font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

.article .main_image {
	font-family: 'Open Sans', sans-serif;
	font-size: 90%;
	float:right;
	border:0px solid grey;
	background-color:#eee;
	padding:6px;
	margin-left:20px;
    margin-right:30px;
}

.article .main_image img {
	max-width:300px
}

.article .main_image .image_caption {
	font-family: 'Open Sans', sans-serif;
	font-size: 90%;
	margin: auto;
    overflow: visible;
}

.article .body {
    width: 60%;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 5px;
    overflow: auto;
}

.article .body img {
	max-width: 110%;
}

.article_stub_top {
    border-bottom: 0px solid $yorker-orange;
	background: none;
    margin-top: 2px;
    margin-bottom: 5px;
    width: 95%;
	height: 148px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
	font-family: 'Open Sans', sans-serif;
    overflow: visible;
}

.article_stub_top:hover {
    background-color: $background_shading;
    border-radius: 6px;
}


.article_stub_top .stub_title {
	font-size: 100%;
	color:black;
}

.article_stub_top .topimage img {
	border:0px solid black;
	background:none;
	float: left;
	margin: 1px 7px 1px 1px;
	max-width: 50%;
}

.article_stub_top .stub_summary {
	font-size: 70%;
}

.article_stub_top .stub_author {
	color: gray;
    font-size: 80%;
}

.article_stub_top .stub_date {
	font-size: 80%;
	color: gray;
	float: right;
}

.article_stub {
    border-bottom: 0px solid $yorker-orange;
	background: none;
	float: left;
    margin-top: 2px;
    margin-bottom: 5px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
	font-family: 'Open Sans', sans-serif;
}

.article_stub:hover {
    background-color: $background_shading;
    border-radius: 6px;
}

.article_stub.pending {
    opacity: .5;
}

.article_stub .stub_title {
	font-size:90%;
    height: 42px;
}

.article_stub .stub_author {
    font-size: 70%;
}

.article_stub .stub_image {
	float: left;
	margin: 1px 7px 1px 1px;
}

.article_stub .stub_date {
	font-size: 70%;
	color: gray;
	float: right;
}

.section_stub .more {
	font-size: 85%;
	color: $yorker-orange;
	float: right;
	
}

.section_stub  {
    border: 3px white solid;
	font-family: 'Open Sans', sans-serif;
	/* width: 34%; */
    width: 48%;
	float: left;
	height: 525px;
	margin-right: auto;
	margin-left: auto;
}

.section_stub a {
    text-decoration: none;
	color: $yorker-orange;
}
	
.section_stub a:hover {
    text-decoration: underline;
	color: $yorker-orange;
}

.section_stub .section_name {
    font-size: 175%;
	margin-top: -2px;
	border-bottom: 2px $yorker-orange solid;
    background-color: white;
}

.section_stub .article_list {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0;
    padding-right: 0;
}

.article_column .column_footer_link {
    font-size: 80%;
    text-align: center;
    margin-top: 2em;
}

.article .body {
    text-align: justify;
}

.article .body .adspace4 {
	max-width:728px;
}

.article .footer {
    width: 69%;
    float: left;
    height: auto;
    position:relative;
    top:-25px;
    background-color: white;
    border: 1px solid black;
}

.article .footer .comments {
    width: 100%;
    height: auto;
    position:relative;
    top:-32px;
	background-color: lightgray;
}
   

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Footer at the bottom of the page                            *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.footer {
    width: 100%;
    overflow: hidden;
    position:relative;
    top:-43px;
}

.footer {
    width: 100%;
    height: 31px;
    background: $yorker-orange;
    border-radius: 0px;
    position:relative;
    top:-50px;
    border-style: solid;
    border-color: black;
    border-width: 0px;
}

.footer .footerlinks ul {
    font-family: 'Open Sans', sans-serif;
    /* font-size:75%; */
    /* margin: 0; */
    padding: 0;
    float: right;
    position:relative;
    top:-10px;
    left:-10px;
}

.footer .footerlinks ul li {
    display: inline;
}

.footer .footerlinks ul li a, .toplevel_menu ul li a:visited {
    text-decoration: none;
    color: white;
    padding:0.25em 0.25em 0.25em 0.25em; 
}

.footer .footerlinks a:hover {
    text-decoration: none;
    background-color: #e44f04;
    color: white;
    padding-right: 0.25em;
    padding-left: 0.25em;
}

.footer .copynotice {
    font-family: 'Open Sans', sans-serif;
    color: white;
    /* font-size:75%; */
    /* margin: 0; */
    padding: 0;
    float: left;
    position:relative;
    top:6px;
    left:5px;
}

.adspace3 {
    width: 728px;
    margin: -50px auto 0px auto;
    float: none;
    height: 90px;
    text-align: center;
    border: 0px solid black;
}


/*--- Large Article List Entry ---*/

.articles_list a {
    text-decoration: none;
}

.article_entry {
    overflow: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    color: black;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    .article_image {
        border-right: 1px solid #ddd;
        padding-right: 12px;
        width: 162px;
        float: left;
        clear: both;
        img {
            width: 150px;
            height: 150px;
        }
    }
    .article_info {
        margin-left: 6px;
        width: 400px;
        float: left;
        .article_title {
            font-size: 120%;
            font-weight: bold;
        }
        .article_summary {
            color: #666;
        }
        .article_author {

        }
        .article_date {

        }
    }
}

.article_entry:hover {
    background-color: $background_shading;
    border-radius: 12px;    
}

/*--- Breadcrumbs ---*/

.breadcrumbs {
    padding: auto 6px;
    margin: auto 6px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0);
}

.breadcrumbs a, .breadcrumbs a:visited {
    color: $yorker-orange;
    text-decoration: none;
    font-family: "Open Sans";
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

