/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * These Apply To Everything                                   *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

$yorker_orange: #ff6c07;
$darkened_orange: #e44f04;
$yorker_blue: #059BFF;
$background_shading: lighten($yorker_blue, 40%);
$light_background_shading: lighten($background-shading, 5%);

body {
    background-color: $light_background_shading;
    /* background-color: #f9f9f9; */
    padding-top: 0;
} // body 

.page_container {
    margin-left: auto;
    margin-right: auto;
    width: 55em;
    background-color: white;
    margin-top: -9px;
    padding-left: 24px;
    padding-right: 24px;
    opacity: 1;
} // .page_container 

h1 {
    font-size: 500%;
    font-family: 'Open Sans', sans-serif;
} // h1 

h2 {
    font-family: 'Open Sans', sans-serif;
	color: $yorker-orange;
	font-size: 170%;
} // h2 

h3 {
    font-family: 'Open Sans', sans-serif;
    color: White;
    font-weight: normal;
    font-size: 14px;
    width: 100%;
    height: auto;
    background: $yorker-orange;
    border-radius: 0px;
    position: relative;
    padding: 5px 0px 5px 0px; 
    top: -16px;
} // h3 

p  {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
} // p  

.hl {
	background: $yorker-orange;
	color: white;
	font-size: 150%;
	max-width: 69%;
} // .hl 

a img {
    border: 0;
    border-style: none;
}

a img {
    border: 0;
    border-style: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Banner at the top of the page under log-in                  *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.banner_top {
    width: 100%;
    position: relative;
    top: -55px;
} // .banner_top 

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Top Menu Bar                                                *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.toplevel_menu {
    width: 100%;
    height: 31px;
    background: $yorker-orange;
    position: relative;
    top: -50px;

    ul {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        padding: 0em 0.25em 0.25em 0em;
        float: left;
        position: relative;
        top: 4px;
        left: 25px;
    } // ul 

    ul li {
        display: inline;
    } // ul li 

    ul li a, ul li a:visited {
        text-decoration: none;
        color: white;
        padding: 0.2em 0.3em 0.2em 0.3em; 
    } // ul li a, ul li a:visited 

    ul li a:hover {
        text-decoration: none;
        background-color: #e44f04;
        color: white;
        padding-right: 0.3em;
        padding-left: 0.3em;
    } // ul li a:hover 

    
    .socialmedia {
        float: right;
    } // .socialmedia 

    .socialmedia ul {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        padding: 0;
        float: right;
        position: relative;
        top: 4px;
        left: -10px;
    } // .socialmedia ul 

    .socialmedia ul li {
        display: inline;
        border-right: none;
        
        a, a:visited {
            text-decoration: none;
            color: white;

            img.f_logo {
                vertical-align: text-top;
                height: 24px;
            } // img.f_logo 
            
            img.twitter_follow {
                vertical-align: text-top;
                height: 24px;
                padding-right: 3px;
                margin-bottom: 10px;
            } // img.twitter_follow 

        } // a

    } // .socialmedia ul li 

} // .toplevel_menu 

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * This is the big news image and the top stories on the right *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.priority_content {
    width: 100%;
    overflow: hidden;
    position: relative;
    top: -43px;

    .adspace2 {
        overflow: hidden;
        width: 728px;
        margin: 0px auto 8px auto;
        float: none;
        height: 90px;
        text-align: center;
        border: 0px solid black;
    } // .adspace2 

} // .priority_content 


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Log-in links at the top of the page                         *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.account_links {
    font-family: 'Open Sans', sans-serif;
    width: 100%;

    ul {
        margin: 0;
        padding: 0;
        float: right;
    } //  ul 

    ul li {
        display: inline;
    } //  ul li 

    ul li a,  ul li a:visited {
        color: black;
        display: inline;
    } //  ul li a,  ul li a:visited 

} // .account_links 

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Main content containers and related/featured article sidebar*
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.content_container {
    width: 100%;
    margin-top: 0px;
    position: relative;
    top: -50px;
    background-color: white;

    .headline_container {
        overflow: auto;

        .headline_image {
            color: white;
            height: 300px;
            float: left;
	        margin-left: 5px;
	        overflow: hidden;
            width: 600px;

            ul li {
                h2 a {
                    text-decoration: none;
	                color: white;
	            } // h2 a 

                img {
	                width: 90%;
	                position: relative;
	                top: -10%;
	                margin-left: 5%;
	                margin-right: 5%;
                } // img 

                h2 {
	                opacity: 0.90;
                    filter: alpha(opacity=90); /* For IE8 and earlier */
	                position: absolute;
	                top: 200px;
                    background-color: $yorker-orange;
                } // h2 
            } // ul li

        } // .headline_image 


    } // .headline_container 
    

    .main_content {
        float: left;
        width: 69%;
    } // .main_content 

    .sidebar {
        background: none;
        width: 29%;
        margin-top: 0px;
        float: right;
        height: auto;
        border: 0px solid black;
        border-radius: 0px;


        .adspace1 img {
            overflow: hidden;
            width: 100%;
            left: 5px;
            float: right;
            height: 250px;
            border: 0px solid black;
	        margin-top: 30px;
        } // .adspace1 img 


        .featured_list {
            overflow: hidden;
            width: 100%;
            margin-top: 10px;
            float: right;

            h3 {
                margin-bottom: 0;
                text-align: center;
            } // h3
            
            .article_list {

                font-family: 'Open Sans', sans-serif;
                font-size: 82.5%;
                position: relative;
                margin-top: auto;
	            margin-bottom: auto;

                
                a, a:visited {
                    text-decoration: none;
                    color: black;
                } // a, a:visited 

                .article_stub_small {
                    overflow: auto;
                    border-bottom: 1px solid $yorker-orange;
                    padding: 2px;
                    padding-top: 10px;
                    height: 56px;
                    
                    .stub_image {
                        width: 50px;
                        height: 50px;
                        float: left;
                        line-height: 50px;
                        img {
                            vertical-align: middle;
                        } // img 
                    } // .stub_image 
                    .stub_title {
                        margin-left: 6px;
                        width: 175px;
                        float: left;
                    } // .stub_title 
                } // .article_stub_small 

                .article_stub_small:hover {
                    background-color: $background_shading;
                } // .article_stub_small:hover 

            } // .article_list 

            ul {
                list-style: none;
                padding-left: 0;
                padding-top: 0;
                margin-top: -12px;
                li {
                    text-indent: 0;
                    padding-top: 6px;
                    height: 50px;
                    border-bottom: 1px solid $yorker-orange;
                    a, .username a {
                        color: $yorker-orange;
                    } // li
                    .username {
                        font-style: italic;
                    }
                } // li
            } // ul

        } // .featured_list 

        .featured_3_articles {
            height: 242px;
        } // .featured_3_articles 

        .featured_5_articles {
            height: 378px;
        } // .featured_5_articles 

    } // .sidebar 

} // .content_container 


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Log-in and signup page stuff                                *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.login_signup_container {
    padding-top: 5px;
} // .login_signup_container 

.login_form {
    width: 46%;
    float: left;
} // .login_form 

.signup_form {
    width: 48%;
    float: right;
    border-left: solid 1px #aaa;
    padding-left: 2%;
} // .signup_form 

#notice {
    font-size: 75%;
    color: green;
} // #notice 

#alert {
    font-size: 75%;
    color: red;
} // #alert 

.error-messages {
    border: solid 1px red;
    color: red;
    background-color: #eee;
    font-size: 75%;
} // .error-messages 

.error-messages h3 {
    margin-top: 0;
    background-color: red;
    color: #fff;
} // .error-messages h3 

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Section and Article page style stuff                        *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

input#article_title {
    width: 30em;
    font-size: 120%;
} // input#article_title 

select#article_section_id {
    margin-bottom: 2em;
} // select#article_section_id 

textarea#article_body {
    width: 40em;
    height: 50em;
    margin-bottom: 2em;
} // textarea#article_body 

input#section_name {
    width: 20em;
    margin-bottom: 1em;
    font-size: 120%;
} // input#section_name 

.article {
    /* overflow: auto; */

    a {
	    color: $yorker-orange;
    } // a 

    .header {
        margin-top: 1em;
        margin-bottom: 2em;
        margin-left: 5px;
	    height: 120px;

        .authorpic {
	        font-family: 'Open Sans', sans-serif;
	        font-size: 90%;
	        float: left;
	        border: 0px solid grey;
	        padding: 0px;
	        margin-left: 0px;
            margin-right: 20px;
	        width: 120px;

            img {
	            max-width: 120px;
            } // img 

            .author {
	            font-family: 'Open Sans', sans-serif;
	            font-size: 90%;
	            margin: auto;
            } // .author 
        } // .authorpic 
        
        .date {
	        color: gray;
	        float: left;
            font-family: 'Open Sans', sans-serif;
	        font-size: 13px;
        } // .date 

    } // .header 

    .body {
        margin-top: 1em;
        margin-bottom: 2em;
        margin-left: 5px;
        overflow: auto;
         img {
	         max-width: 110%;
         } // img 

         .main_image {
	         font-family: 'Open Sans', sans-serif;
	         font-size: 90%;
	         float: right;
	         border: 0px solid grey;
	         background-color: #eee;
	         padding: 6px;
	         margin-left: 20px;
             margin-right: 30px;

             img {
	             max-width: 300px
             } // img 

             .image_caption {
	             font-family: 'Open Sans', sans-serif;
	             font-size: 90%;
	             margin: auto;
                 overflow: visible;
             } // .image_caption 
         } // .main_image 

         
         blockquote { 
	         font-family: 'Open Sans', sans-serif;
	         font-size: 90%;
	         float: right;
	         border: 0px solid grey;
	         background-color: #eee;
	         padding: 6px;
	         margin-right: -60px;
	         max-width: 15em
             blockquote blockquote{
	             color: $yorker-orange;
	             font-size: 10pt;
	             border: none;
	             padding: 0;
	             margin: 0;
             } // blockquote
         } // blockquote 

    } // .body 

} // .article 

.article_stub_top {
    margin-top: 2px;
    margin-bottom: 5px;
    width: 96%;
	height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
	font-family: 'Open Sans', sans-serif;
    overflow: auto;
    
    border-radius: 6px;
    /* background: $light_background_shading; */

    
    .stub_title {
	    font-size: 100%;
	    color: $yorker-orange;
    } // .stub_title 

    .topimage img {
	    border: 0px solid black;
	    float: left;
	    margin: 1px 7px 1px 1px;
	    max-width: 50%;
    } // .topimage img 

    .stub_summary {
	    font-size: 70%;
        color: black;
    } // .stub_summary 

    .stub_author {
	    color: gray;
        font-size: 80%;
    } // .stub_author 

    .stub_date {
	    font-size: 80%;
	    color: gray;
	    float: right;
    } // .stub_date 

} // .article_stub_top 

.article_stub_top:hover {
    background-color: $background_shading;
    border-radius: 6px;
    text-decoration: none;
} // .article_stub_top:hover 


.article_stub {
    border-bottom: 0px solid $yorker-orange;
	background: none;
	float: left;
    margin-top: 2px;
    margin-bottom: 5px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
	font-family: 'Open Sans', sans-serif;

    /* background-color: $light_background_shading; */
    border-radius: 6px;


    .pending {
        opacity: .5;
    } // .pending 

    .stub_title {
	    font-size: 90%;
        height: 42px;
    } // .stub_title 

    .stub_author {
        font-size: 70%;
        color: black;
    } // .stub_author 

    .stub_image {
	    float: left;
	    margin: 1px 7px 1px 1px;
    } // .stub_image 

    .stub_date {
	    font-size: 70%;
	    color: gray;
	    float: right;
    } // .stub_date 

} // .article_stub 

.article_stub:hover {
    background-color: $background_shading;
    border-radius: 6px;
} // .article_stub:hover 


.section_stub  {
    border: 3px white solid;
	font-family: 'Open Sans', sans-serif;
	/* width: 34%; */
    width: 48%;
	float: left;
	height: 545px;
	margin-right: auto;
	margin-left: auto;

    a {
        text-decoration: none;
	    color: $yorker-orange;
    } // a 
	

    .section_name {
        font-size: 175%;
	    margin-top: -2px;
	    border-bottom: 2px $yorker-orange solid;
        background-color: white;
    } // .section_name 

    .section_name:hover {
        text-decoration: underline;
    } // .section_name:hover 

    .article_list {
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-left: 0;
        padding-right: 0;
    } // .article_list 

    .more {
	    font-size: 85%;
	    color: $yorker-orange;
	    float: right;
	    
    } // .more 

} // .section_stub  

.article_column .column_footer_link {
    font-size: 80%;
    text-align: center;
    margin-top: 2em;
} // .article_column .column_footer_link 

.article {

    .body {
        text-align: justify;
    } // .body 

    .body .adspace4 {
	    max-width: 728px;
    } // .body .adspace4 

    .footer {
        border-top: 2px solid #ddd;
        padding-top: 18px;
        margin-top: 18px;
        height: auto;
        position: relative;
        top: -25px;
        background-color: white;
        font-family: "Open Sans", sans-serif;

        .comments_title {
            font-size: 120%;
            border-bottom: 1px solid $yorker-orange;
        } // .comments_title 

        .comments {
            width: 100%;
            height: auto;
            
            .comment {
                border-bottom: 1px solid #ddd;
                padding: 3px;

                .comment_header {
                    overflow: auto;
                    
                    .comment_byline {
                        font-size: 110%;
                        float: left;
                    } // .comment_byline 

                    .comment_time {
                        float: right;
                    } // .comment_time 

                } // .comment_header 

                .comment_body {
                    margin-left: 18px;
                } // .comment_body 

                .hide_controls {
                    margin-left: 18px;
                } // .hide_controls 
                
            } // .comment 

            .comment:hover {
                background-color: #eee;
            } // .comment:hover 
            
        } // .comments 

        .comment_form {
            padding: 3px;

            font-size: 100%;

            form {
                
                p {
                    font-size: 100%;
                } // p 
                
                input#anonymous_false, input#anonymous_true {
                    margin-left: 24px;
                } // input#anonymous_false, input#anonymous_true 

                textarea#body {
                    width: 80%;
                    height: 6em;
                    border: 2px solid #ddd;
                } // textarea#body 
            } // form 

        } // .comment_form 

    } // .footer 

} // .article 

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Footer at the bottom of the page                            *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.footer {
    width: 100%;
    overflow: hidden;
    position: relative;
    top: -43px;
    width: 100%;
    height: 31px;
    background: $yorker-orange;
    border-radius: 0px;
    position: relative;
    top: -50px;
    border-style: solid;
    border-color: black;
    border-width: 0px;

    .footerlinks {

        ul {
            font-family: 'Open Sans', sans-serif;
            /* font-size: 75%; */
            /* margin: 0; */
            padding: 0;
            float: right;
            position: relative;
            top: -10px;
            left: -10px;
        } // ul 

        ul li {
            display: inline;
        } // ul li 

        ul li a, .toplevel_menu ul li a:visited {
            text-decoration: none;
            color: white;
            padding: 0.25em 0.25em 0.25em 0.25em; 
        } // ul li a, .toplevel_menu ul li a:visited 

        a:hover {
            text-decoration: none;
            background-color: #e44f04;
            color: white;
            padding-right: 0.25em;
            padding-left: 0.25em;
        } // a:hover 

    } // .footerlinks 

    .copynotice {
        font-family: 'Open Sans', sans-serif;
        color: white;
        /* font-size: 75%; */
        /* margin: 0; */
        padding: 0;
        float: left;
        position: relative;
        top: 6px;
        left: 5px;
    } // .copynotice 
} // .footer 

.adspace3 {
    width: 728px;
    margin: -50px auto 0px auto;
    float: none;
    height: 90px;
    text-align: center;
    border: 0px solid black;
} // .adspace3 


/*--- Large Article List Entry ---*/

.articles_list a {
    text-decoration: none;
} // .articles_list a 

.article_entry {
    overflow: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    color: black;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 82.5%;
    .article_image {
        border-right: 1px solid #ddd;
        padding-right: 6px;
        width: 126px;
        float: left;
        clear: both;
        height: 120px;
        line-height: 120px;
        img {
            width: 120px;
            vertical-align: middle;
        } // img 
    } // .article_image 
    .article_info {
        margin-left: 6px;
        float: left;
        width: 380px;
        height: 120px;
        position: relative;
        .article_title {
            font-size: 120%;
            font-weight: bold;
        } // .article_title 
        .article_summary {
            color: #666;
            padding-bottom: 3px;
        } // .article_summary 
        .article_author {
            position: absolute;
            bottom: 3px;
            float: left;
        } // .article_author 
        .article_date {
            color: gray;
            position: absolute;
            bottom: 3px;
            right: 0;
        } // .article_date 
    } // .article_info 
} // .article_entry 

.article_entry:hover {
    background-color: $background_shading;
    border-radius: 12px;    
} // .article_entry:hover 

/*--- Breadcrumbs ---*/

.breadcrumbs {
    padding: auto 6px;
    margin: auto 6px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0);

    a, .breadcrumbs a:visited {
        color: $yorker-orange;
        text-decoration: none;
        font-family: "Open Sans";
    } // a, .breadcrumbs a:visited 

    a:hover {
        text-decoration: underline;
    } // a:hover 

} // .breadcrumbs 
