body {
    margin-left: auto;
    margin-right: auto;
    width: 55em;
}

h1 {
    font-size: 500%;
}

.toplevel_menu {
    width: 100%;
    background-color: #ddd;
}

.toplevel_menu ul {
    margin: 0;
    padding: 0;
    float: left;
}

.toplevel_menu ul li {
    display: inline;
}

.toplevel_menu ul li a, .toplevel_menu ul li a:visited {
    text-decoration: none;
    background-color: #ddd;
    color: #333;
    padding-right: 0.25em;
    padding-left: 0.25em;
}

.toplevel_menu ul li a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    padding-right: 0.25em;
    padding-left: 0.25em;
}


.priority_content {
    width: 100%;
    overflow: auto;
}

.priority_content .headline_image {
    width: 70%;
    color: white;
    background-color: black;
    height: 200px;
    text-align: center;
    float: left;
}

.priority_content .top_stories {
    width: 29%;
    float: right;
    height: 198px;
    text-align: center;
    border: 1px solid black;
}

.account_links {
    width: 100%;
}

.account_links ul {
    margin: 0;
    padding: 0;
    float: right;
}

.account_links ul li {
    display: inline;
}

.account_links ul li a, .account_links ul li a:visited {
    color: #333;
    display: inline;
}

.user {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.user_control_links {
    float: right;
}

.user_control_links a {
    float: right;
}

.content_container {
    margin-top: 20px;
}

.login_signup_container {
    padding-top: 5px;
}

.login_form {
    width: 46%;
    float: left;
}

.signup_form {
    width: 48%;
    float: right;
    border-left: solid 1px #aaa;
    padding-left: 2%;
}

#notice {
    font-size: 75%;
    color: green;
}

#alert {
    font-size: 75%;
    color: red;
}

.error-messages {
    border: solid 1px red;
    color: red;
    background-color: #eee;
    font-size: 75%;
}

.error-messages h3 {
    margin-top: 0;
    background-color: red;
    color: #fff;
}

input#article_title {
    width: 30em;
    font-size: 120%;
}

textarea#article_body {
    width: 40em;
    height: 50em;
    font-family: sans-serif;
}

input#section_name {
    width: 20em;
    margin-bottom: 1em;
    font-size: 120%;
}

.article .author {
    color: gray;
}

.article .body {
    margin-top: 2em;
    margin-bottom: 2em;
}

.article_stub {
    border: 1px solid black;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 16em;
    max-width: 90%;
    padding: 3px;
    float: left;
    margin-left: 3px;
    margin-right: 3px;
}

.article_stub.pending {
    opacity: .5;
}

.article_stub .stub_title {
    
}

.article_stub .stub_author {
    color: gray;
    font-size: 80%;
}

.article_list {
    overflow: auto;
}

.section_stub {
    border: 3px #ddd solid;
    overflow: auto;
    width: auto;
}

.section_stub .section_name {
    margin-top: -2px;
    background-color: #ddd;
}

.section_stub .article_list {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
}

.article_column .column_footer_link {
    font-size: 80%;
    text-align: center;
    margin-top: 2em;
}

.article .body {
    text-align: justify;
}

.dashboard {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
};

.dashboard * {
    
}

.dashboard * hr {
    background: gray;
    height: 5px;
    width: 10%;
}

.dashboard .article_column {
    background-color: #f4f4f4;
    margin-bottom: -4000px;
    padding-bottom: 4000px;
}

.dashboard h3 {
    text-align: center;
}

.dashboard .my_articles {
    width: 32%;
    float: left;
    color: #b44;
}

.dashboard .section_articles {
    width: 32%;
    float: left;
    color: #e80;
    padding-left: 5px;
    padding-right: 5px;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
}

.dashboard .public_articles {
    width: 32%;
    float: left;
    color: #4b4;
}

