
.top_container {
    background-color: orange;
}

.toplevel_menu {
    width: 100%;
    background-color: #ddd;
}

.toplevel_menu ul {
    margin: 0;
    padding: 0;
    float: left;
}

.toplevel_menu ul li {
    display: inline;
}

.toplevel_menu ul li a, .toplevel_menu ul li a:visited {
    text-decoration: none;
    background-color: #ddd;
    color: #333;
    padding-right: 0.25em;
    padding-left: 0.25em;
}

.toplevel_menu ul li a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    padding-right: 0.25em;
    padding-left: 0.25em;
}


.account_links {
    width: 100%;
}

.account_links ul {
    margin: 0;
    padding: 0;
    float: right;
}

.account_links ul li {
    display: inline;
}

.account_links ul li a, .account_links ul li a:visited {
    color: #333;
    display: inline;
}

.section_with_pending {
    font-weight: bold;
}
