/*
 *= require_self
 *= require articles
 *= require colorbox
 */

body {
    font-family: "Open Sans";
}

.top_container h1 {
    border-bottom: 3px solid #ff6c07;
}

.toplevel_menu {
    width: 100%;
    background-color: #ff6c07;
}

.toplevel_menu ul {
    margin: 0;
    padding: 0;
    float: left;
}

.toplevel_menu ul li {
    display: inline;
}

.toplevel_menu ul li a, .toplevel_menu ul li a:visited {
    text-decoration: none;
    background-color: #ff6c07;
    color: #333;
    padding-right: 0.25em;
    padding-left: 0.25em;
}

.toplevel_menu ul li a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    padding-right: 0.25em;
    padding-left: 0.25em;
}


.account_links {
    width: 100%;
}

.account_links ul {
    margin: 0;
    padding: 0;
    float: right;
}

.account_links ul li {
    display: inline;
}

.account_links ul li a, .account_links ul li a:visited {
    color: #333;
    display: inline;
}

.section_with_pending {
    font-weight: bold;
}

.display_area {
    border: 1px solid #ff6c07;
    border-radius: 6px;
    margin: 3px;
    padding: 3px;
}

.display_area h3 {
    border-bottom: 1px solid #ff6c07;
    padding: 3px;
    margin: 0;
}

h2 {
    border-bottom: 1px solid #ff6c07;
}

.section_admin {
    overflow: auto;
}

.section_articles {
    overflow: auto;
}

.user_articles {
    overflow: auto;
}

.editors {
    width: 45%;
    min-width: 20em;
    float: left;
    margin-right: 15px;
}

.subsections {
    width: 45%;
    min-width: 20em;
    float: left;
}

.editors ul li form {
    display: inline;
}

.draft_articles {
    width: 30%;
    min-width: 20em;
    float: left;
}

.review_articles {
    width: 30%;
    min-width: 20em;
    float: left;
}

.queued_articles {
    width: 30%;
    min-width: 20em;
    float: left;
}

.published_articles {
    width: 30%;
    min-width: 20em;
    float: left;
}

.buttons {
    padding-top: 24px;
}

.green_button {
    overflow: auto;
    display: inline;
    margin-top: 24px;
}

.green_button a {
    color: white;
    text-decoration: none;
    border: 1px solid #006633;
    border-radius: 12px;
    background-color: #006633;
    padding: 6px;
    font-size: 120%;
}

.green_button a:visited {
    color: white;
}


.red_button {
    overflow: auto;
    display: inline;
    margin-top: 24px;
}

.red_button a {
    color: white;
    text-decoration: none;
    border: 1px solid #660033;
    border-radius: 12px;
    background-color: #660033;
    padding: 6px;
    font-size: 120%;
}

.red_button a:visited {
    color: white;
}

.article_image_select {
    background-color: #eee;
    border: 1px solid #666;
    padding-bottom: 24px;
    width: 300px;
}

.article_image_select .buttons {
    padding-left: 48px;
    border-top: 1px solid #666;
}


input#article_title {
    width: 30em;
    font-size: 120%;
}

textarea#article_body {
    width: 40em;
    height: 50em;
    font-family: sans-serif;
}

input#section_name {
    width: 20em;
    margin-bottom: 1em;
    font-size: 120%;
}

.body_edit {
    overflow: auto;
}

.body_edit .field {
    float: left;
}

.body_edit .markdown_help {
    float: right;
    width: 48%;
}

.markdown_help table {
    border-width: 1px;
    border-spacing: 0px;
    border-style: solid;
    border-color: gray;
    border-collapse: collapse;
}

.markdown_help table tr td {
    border-width: 1px;
    border-spacing: 0px;
    border-style: solid;
    border-color: gray;
    padding: 1px;
}

.upload_caution {
    font-size: 110%;
}

.image_entry {
    margin: 3px;
}

.image_entry img {
    vertical-align: text-top;
    border-right: 1px solid gray;
}

.editing_published_warning {
    font-size: 130%;
    color: red;
}

/* input[type="submit"] { */
/*     font-size: 120%; */
/*     background-color: #ff6c07; */
/*     font-color: white; */
/*     border-radius: 12px; */
/* } */

/* input[type="submit"]:hover { */
/*     background-color: #ddd; */
/* } */


